<section class="section-hero">
  <div>
    <h1 class="section-hero__title">Premium abstract images</h1>
    <ul class="section-hero__features">
      <li class="section-hero__features--item">
        <img
          src="../img/hero-section-bullets/check-fill.svg"
          width="24px"
          height="24px"
          alt=""
        />
        Minimum 5K image resolution
      </li>
      <li class="section-hero__features--item">
        <img
          src="../img/hero-section-bullets/check-fill.svg"
          width="24px"
          height="24px"
          alt=""
        />
        Various format variants available
      </li>
      <li class="section-hero__features--item">
        <img
          src="../img/hero-section-bullets/check-fill.svg"
          width="24px"
          height="24px"
          alt=""
        />
        Retina display support
      </li>
    </ul>
    <div class="section-hero__cta">
      <button
        class="btn btn__primary section-hero__btn section-hero__btn--primary"
      >
        See pricing
      </button>
      <button
        type="button"
        class="btn btn__secondary section-hero__btn section-hero__btn--secondary"
      >
        Learn more
      </button>
    </div>
  </div>
  <figure>
    <picture>
      <source
        srcset="../img/hero-section-bullets/prism.png"
        media="(min-width: 64em)"
      />

      <source
        srcset="../img/hero-section-bullets/prism.png"
        media="(min-width: 48em)"
      />
      <img src="../img/hero-section-bullets/mobile/hero-mobile.png" alt="" />
    </picture>
  </figure>
</section>
